@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-height: 880px;
}

body {
    background: url("../img/background_image.jpg") no-repeat;
}


.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.t-d-n {
    text-decoration: none;
}

.b-w {
    background: #EFF6FF;
}

.frame {
    width: 767px;
    height: 537px;
    border: 1px solid #1889C9;
    position: relative;
    top: 190px;
}

.login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 45px;
}

.goToLogin {
    width: 1500px;
    position: relative;
    right: 30px;
}

.inputLoginForm {
    width: 230px;
    height: 147px;
    display: block;
}

input, .selectType {
    border-radius: 15px;
    width: 230px;
    height: 34px;
    border: 1px solid #1889C9;
    font-size: 20px;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.authText {
    color: #36A5BD;
    font-size: 59px;
    padding-top: 25px;
}

.submitInput {
    width: 290.06px;
    height: 65.28px;
    background: #36A5BD;
    border: none;
    border-radius: 25px;
    color: #FFE8D2;
    font-size: 20px;
    transition: .9s;
    position: relative;
    right: 25px;
    top: 45px;
}

label {
    font-size: 20px;
    position: relative;
    margin-top: 25px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.girlPicture {
    position: relative;
    left: 37px;
    top: 125px;
    height: 700px;
}

#siteForWhat {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    left: 1000px;
    width: 820px;
    bottom: 420px;
    color: #425C5A;
}

#siteForWhatAbout {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    left: 1000px;
    bottom: 380px;
    width: 820px;
    color: #425C5A;
}

.goToAuthInput {
    position: relative;
    left: 1500px;
    top: -340px;
}

header {
    background-color: #EFF6FF;
    position: relative;
    height: 70px;
}

.linkNavigation {
    text-decoration: none;
    color: #0A3854;
    font-size: 22px;
    position: relative;
    padding-left: 150px;
    transition: .9s;
    bottom: 5px;
}

.linkNavigation:last-child {
    left: 800px;
}

.linkNavigation:hover {
    color: #1889C9;
    transition: .9s;
}

.logoutIcon {
    position: relative;
    top: 20px;
    left: 10px;
}

.FIOUser {
    color: #425C5A;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    top: 100px;
    left: 550px;
    width: 700px;
}

.roleUser {
    position: relative;
    left: 550px;
    top: 120px;
    font-size: 20px;
    width: 700px;
}

.userIcon {
    position: relative;
    left: 100px;
    width: 280px;
    height: 280px;
}

.saveChanges {
    width: 230px;
    height: 40px;
    background: #36A5BD;
    border: none;
    border-radius: 25px;
    color: #FFE8D2;
    font-size: 18px;
    transition: .9s;
}

.changeInfoForm1 {
    position: relative;
    width: 490px;
    height: 261px;
    left: 550px;
    bottom: 140px;
}

.changeInfoForm2 {
    position: relative;
    width: 490px;
    height: 261px;
    left: 830px;
    bottom: 401px;
}

.changeInfoForm3 {
    position: relative;
    width: 250px;
    height: 261px;
    left: 1130px;
    bottom: 662px;
}

p {
    font-size: 20px;
    width: 230px;
    display: flex;
    justify-content: center;
}

.noneLeft {
    justify-content: left;
}

.inputAvatar {
    width: 343px;
    height: 34px;
    border-radius: 15px;
    color: #425C5A75;
}

.inputAvatarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 33px;
    top: -43px;
    left: 136px;
    border-radius: 15px;
    border: 1px solid #1889C9;
    background-color: #1889C9;
    font-size: 20px;
    color: white;

}

.inputAvatarButton:hover {
    cursor: pointer;
}

.saveChangesProfile {
    position: relative;
    top: 120px;
    width: 230px;
    height: 40px;
    background: #36A5BD;
    border: none;
    border-radius: 25px;
    color: #FFE8D2;
    font-size: 18px;
    transition: .9s;
}

input[type="file"] {
    display: none;
}

.fileName {
    display: flex;
    position: relative;
    border: 1px solid #1889C9;
    border-radius: 15px;
    color:  #425C5A75;
    text-align: center;
    align-items: center;
    width: 154px;
    height: 33px;
    top: 15px;
    padding-left: 10px;
    border-right: none;
}

.changeInfoForm {
    height: 300px;
}

.youNotAuthorizedText {
    position: relative;
    top: 315px;
    left: 685px;
    width: 700px;
    font-size: 48px;
}

.goToAuth {
    position: relative;
    top: 350px;
    left: 790px;
}

.addWorker {
    position: relative;
    left: 150px;
    top: 15px;
    padding-left: 10px;
    padding-top: 10px;
    width: 763px;
    height: 279px;
    border: 1px solid #1889C9
}

.addWorkerForm {
    width: 738px;
    height: 134px;
}
.addWorkerForm1, .addWorkerForm2, .addWorkerForm3 {
    padding-top: 10px;
}

.addWorkerForm2 {
    position: relative;
    left: 243px;
    bottom: 210px;
}

.addWorkerForm3 {
    position: relative;
    left: 485px;
    bottom: 420px;
}

.createWorkerButton {
    position: relative;
    bottom: 380px;
    left: 243px;
    width: 230px;
    height: 40px;
    background: #36A5BD;
    border: none;
    border-radius: 25px;
    color: #FFE8D2;
    font-size: 18px;
    transition: .9s;
}

.createWorkerButton:hover, .createBuildingButton:hover, .submitInput:hover, .saveChangesProfile:hover, .saveChanges:hover, .calculationsButton:hover, .createRoomButton:hover  {
    cursor: pointer;
    border: 2px solid #36A5BD;
    color: #36A5BD;
    background: white;
    transition: .9s;
}

.c-g {
    color: #232828;
    opacity: .9;
    margin-bottom: 10px;
}

.allWorkers {
    position: relative;
    width: 1528px;
    left: 150px;
    top: 80px;
}

.fs-30px {
    font-size: 30px;
}

.worker {
    position: relative;
    top: 25px;
    width: 1528px;
    height: 114px;
    background: #0A385429;
}

.workerInfo {
    position: relative;
    left: 280px;
    bottom: 90px;
    width: 800px;
}

.buildingInfo {
    position: relative;
    left: 280px;
    bottom: 75px;
    width: 800px;
}

.userLittleIcon {
    position: relative;
    left: 150px;
    padding-top: 7px;
}

.userName, .userLogin, .userPassword {
    width: 620px;
}

.userName {
    position: relative;
    margin-left: 95px;
    bottom: 90px;
}

.userLogin {
    position: relative;
    margin-left: 18px;
    bottom: 85px;
}

.userPassword {
    position: relative;
    margin-left: 164px;
    bottom: 80px;
}

.deleteWorker {
    position: relative;
    left: 1150px;
    bottom: 140px;
    width: 230px;
    height: 40px;
    display: block;
    color: #FFE8D2;
    background: #BD3646;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    transition: .9s;
}

.deleteWorker:hover {
    cursor: pointer;
    border: 2px solid #BD3646;
    color: #BD3646;
    background: white;
    transition: .9s;
}

.arrowDownIcon {
    position: relative;
    left: 760px;
    top: 120px;
}

.arrowDownIcon:hover, .arrowDownIcon2:hover, .arrowDownIcon3:hover {
    cursor: pointer;
}

.addNewBuilding {
    position: relative;
    left: 140px;
    top: 25px;
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
    height: 233px;
}

.createBuildingButton {
    position: relative;
    top: 30px;
    width: 230px;
    height: 40px;
    background: #36A5BD;
    border: none;
    border-radius: 25px;
    color: #FFE8D2;
    font-size: 18px;
    transition: .9s;
}

.allBuildings {
     position: relative;
     width: 1270px;
     left: 450px;
     bottom: 180px;
 }

.building {
    border-radius: 5px;
    position: relative;
    top: 25px;
    width: 1270px;
    height: 114px;
    background: #0A385429;
}

.allBuildingsText {
    position: relative;
    left: 120px;
}

.buildingLittleIcon {
    position: relative;
    left: 120px;
    top: 5px;
}

.buildingName {
    position: relative;
    left: 230px;
    bottom: 70px;
}

.buildingAddress {
    position: relative;
    left: 235px;
    bottom: 62px;
}

.moreDetails {
    position: relative;
    left: 700px;
    top: -110px;
    width: 230px;
    height: 40px;
    color: #36A5BD;
    border: 1px solid #36A5BD;
    border-radius: 25px;
    background: white;
    font-size: 18px;
    transition: .9s;
}

.calculationsButton {
    position: relative;
    left: 720px;
    top: -110px;
    width: 230px;
    height: 40px;
    color: #FFE8D2;
    border: 1px solid #36A5BD;
    border-radius: 25px;
    background: #36A5BD;
    font-size: 18px;
    transition: .9s;
}

.moreDetails:hover {
    text-decoration: underline;
}

.arrowDownIcon2 {
    position: relative;
    left: 560px;
    top: 400px;
}

.createRoomButton {
    width: 230px;
    height: 40px;
    color: #FFE8D2;
    border: 1px solid #36A5BD;
    border-radius: 25px;
    background: #36A5BD;
    font-size: 18px;
    transition: .9s;
}

.addNewRoom {
    position: relative;
    left: 140px;
    top: 50px;
    width: 300px;
    height: 428px;
    padding-left: 10px;
    padding-top: 10px;
}

.addRoomForm {
    position: relative;
    padding-left: 20px;
}

.roomIcon {
    position: relative;
    left: 450px;
    bottom: 600px;
}

.editBuildingForm {
    width: 700px;
    position: relative;
    left: 711px;
    bottom: 370px;
}

.allRoomsText {
    position: relative;
    left: 450px;
    width: 700px;
    bottom: 470px;
}

.room1 {
    border-radius: 5px;
    position: relative;
    left: 450px;
    bottom: 440px;
    width: 1270px;
    height: 114px;
    background: #0A385429;
}

.schoolbagIcon {
    position: relative;
    bottom: 150px;
    right: -75px;
}

.roomName {
    width: 400px;
    position: relative;
    left: 195px;
    top: 15px;
}

.roomNumber {
    position: relative;
    left: 202px;
    top: 20px;
}

.roomType {
    position: relative;
    left: 233px;
    top: 25px;
}

.roomArea {
    position: relative;
    left: 520px;
    bottom: 53px;
}

.roomNumberOfSeats {
    position: relative;
    left: 428px;
    bottom: 48px;
    width: 500px;
}

.deleteRoom {
    position: relative;
    left: 940px;
    bottom: 77px;
    width: 230px;
    height: 40px;
    display: block;
    color: #FFE8D2;
    background: #BD3646;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    transition: .9s;
}

.deleteRoom:hover {
    cursor: pointer;
    border: 2px solid #BD3646;
    color: #BD3646;
    background: white;
    transition: .9s;
}
.arrowDownIcon3 {
    position: relative;
    left: 535px;
    top: 120px;
}

.allRooms {
    height: 114px;
}